#header-container {
  background-color: #212121;
}

#brief-container {
  background-color: rgba(8, 184, 225, 0.4);
}

#brief-container p {
  font-style: italic;
}

p {
  font-size: 22px;
}

ul li {
  font-size: 22px;
  font-style: italic;
}
